<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">

  <title>Footer Fragment</title>
</head>
<body>

<!-- FOOTER -->
<footer th:fragment="footer_fragment" id="main-footer" class="fixed-bottom bg-dark text-white mt-5 p-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead text-center">
          Copyright &copy; Andreas Eriksson <a href="?lang=sv"><img src="/images/sv.png" alt="Sv-Lang" width="24" height="18" /></a> - <a href="?lang=en"><img src="/images/en.png" alt="En-lang" width="24" height="18" /></a>
        </p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>