body, html{
    margin: 0;
}

.about-bkg-container
{
    background-image: url("../img/code.jpg");
    background-size: cover;
}

.fever-bkg-container
{
    background-image: url("../img/fever.jpg");
    background-size: cover;
}